
@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Lato&family=Poppins:wght@300;400&family=Roboto+Slab:wght@400;700&family=Work+Sans:ital,wght@1,500&family=Ysabeau+Office:ital,wght@0,1;0,100;0,200;0,300;1,200;1,400;1,500&display=swap');

  
.navbar-nam{
  font-size: 18px;
  /* font-family: 'Bacasime Antique', serif;
  font-family: 'Lato', sans-serif; */
  font-family: 'Poppins', sans-serif;
  /* font-family: 'Roboto Slab', serif;
  font-family: 'Work Sans', sans-serif;
  font-family: 'Ysabeau Office', sans-serif; */
}



